body {
	background: #252c44;
	font-family: Helvetica;
}


h1#headline1 {
	color: #DDDDDD;
	font-family: Helvetica;
	font-size: 65px;
	font-weight: 300;
	display: flex;
	margin: 1%;
	justify-content: center;
}


h2#headline2 {
	color: #777777;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 100;
	display: flex;
	justify-content: center;
}

h2#headline3 {
	color: #888888;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 400;
	display: flex;
	margin: 1%;
	text-align: center;
}

h2#headline4 {
	color: #888888;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 400;
	display: flex;
	margin: 1%;
	justify-content: center;
}


a {
	color: #DDDDDD;
	text-decoration: none;
}


a:hover {
	color: #FA288F;
	text-decoration: none;
}


a:visited {
	color: #C30060;
	text-decoration: none;
}


main {
	width: 256;
	height: 256;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}


main p {
	width: 700px;
	color: #333333;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: 400;

	font-family: Helvetica;
	font-weight: 100;

	font-family: Helvetica;
	font-weight: 100;
	line-height: 36px;

	font-family: Helvetica;
	font-weight: 500;
	line-height: 36px;

	font-family: Helvetica;
	font-weight: 100;
	line-height: 36px;
}

footer p {
	height: 10px;
	border: none;
	background-color: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p#p1 {
	color: #666666;
	font-family: Helvetica;
	font-size: 15px;
}

footer p#p2 {
	color: #666666;
	font-family: Helvetica;
	font-size: 15px;
}